:root {
  --luck-border-radius: 5px;
}

.luckynum-content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  font-size: 0;
}

img {
  width: 100%;
}

.luckynum-imgs {
  position: absolute;
  will-change: transform;
}

.luckynum-btn {
  position: absolute;
  border-radius: var(--luck-border-radius, 5px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.luckynum-mask {
  overflow: hidden;
  position: absolute;
  border-radius: var(--luck-border-radius, 5px);
}
